NODE_ENV=development
PORT=4000

DB_URL=mongodb://localhost:27017/singlecart-core

# MAIN_DOMAIN=
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
SERVER_URL=http://localhost:4000
ADMIN_URL=http://localhost:3001
CLIENT_URL=http://localhost:3000

BCRYPT_SALT_ROUND=12

#JWT_SECRET
ACCESS_TOKEN_SECRET=77586738673587yt6i7856y6587y
REFRESH_TOKEN_SECRET=p5896u358u557y8ugny6ntg8ytg6nytgny8t7ygty856
MAIL_VERIFICATION_TOKEN_SECRET=85u695869u896589uyg8uy6gy669u
FORTGOT_PASSWORD_TOKEN_SECRET=ipg65090gu985u98u9859uo6u

#Google
GOOGLE_CLIENT_ID=  106570
GOOGLE_CLIENT_SECRET=  106570


#JWT_EXPIRES
ACCESS_TOKEN_EXPIRES=1d
REFRESH_TOKEN_EXPIRES=180d
MAIL_VERIFICATION_TOKEN_EXPIRES=5m
FORTGOT_PASSWORD_TOKEN_EXPIRES=5m
NEXT_AUTH_EXPIRES= 86400000


ACCESS_TOKEN_COOKIE_EXPIRES=86400000 # 1 day in milliseconds
REFRESH_TOKEN_COOKIE_EXPIRES=15552000000 # 180 days in milliseconds

UPLOAD_IMAGE_SIZE=2000000  # 2MB
UPLOAD_IMAGE_MAX_COUNT=100
UPLOAD_IMAGE_FORMAT= [".jpg", ".jpeg", ".png",".webp", ".gif", ".bmp", ".svg",".JPG", ".JPEG", ".PNG", ".WEBP", ".GIF", ".BMP", ".SVG"]

SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_SERVICE="gmail"
SMTP_PASS="ldjovtrzcvlhtoiu"
SMTP_MAIL="taifur.dev@gmail.com"